.place__title {
  margin: 0;
  color: #fff;
  max-width: 460px;
  font-size: 72px;
  line-height: 76px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 786px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: auto;
  }
}