.place__text-box {
  width: 484px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 1024px) {
  .place__text-box {
    width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__text-box {
    width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__text-box {
    width: 288px;
    margin: auto;
    gap: 25px;
  }
}