.intro__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 33px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #fff;
  }