.places__link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    opacity: 1;
    transition: opacity 0.3s linear;
  }

.places__link:hover {
  opacity: 0.8;
 }
  