.cover__subtitle {
    margin: 32px auto 0 auto;
    width: 360px;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #fff;
  }

  @media screen and (max-width: 320px) {
    .cover__subtitle {
      width: 288px;
      font-size: 14px;
      line-height: 16px;
    }
  }