.cover {
  width: 1184px;
  height: 740px;
  margin: auto;
  margin-top: 92px;
  background-image: url(../../img/cover-trains.jpg);
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 768px;
    height: 480px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 320px;
    height: 200px;
    margin-top: 66px;
  }
}