/*.cover__overlay {
  width: 1184px;
  height: 740px;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.3s linear;
}
  
.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}


*/