.cover__title {
  margin: 0;
  max-width: 560px;
  font-size: 72px;
  text-align: center;
  line-height: 76px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .cover__title {
    line-height: 35px;
    font-size: 32px;
    max-width: 278px;
  }
}