.footer {
  width: 1184px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 186px;
    grid-template-columns: 1fr;
    margin-left: 16px;
    margin-top: 64px;
    gap: 48px;
  }
}