.place__website {
  width: 456px;
  align-self: end;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .place__website {
    width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    width: 288px;
    margin: auto;
  }
}