.place__website {
  max-width: 456px;
  align-self: end;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    min-width: 288px;
    margin: auto;
  }
}